.page-header
  %h1 Open Data

%p
  We are providing multiple CSV files into a zip file.
  #{link_to 'Click here to download', 'http://voxe.s3.amazonaws.com/open_data/voxe-2013-02-24.zip', class: 'btn small'}
