.page-header
  %h1 Open Data

%p
  = link_to image_tag("web/icons/open_licence.png", style: "float: left; width: 30px;"), 'http://www.etalab.gouv.fr/pages/Licence_ouverte_Open_licence-5899923.html'
  We are providing multiple CSV files into a zip file.
%p
  These data are under Open Licence (Download licence in #{link_to 'English', 'http://ddata.over-blog.com/xxxyyy/4/37/99/26/licence/Licence-Ouverte-Open-Licence-ENG.pdf'} or #{link_to 'French', 'http://ddata.over-blog.com/xxxyyy/4/37/99/26/licence/Licence-Ouverte-Open-Licence.pdf'}).
%br
  #{link_to 'Click here to download', 'http://voxe.s3.amazonaws.com/open_data/voxe-2013-02-24.zip', class: 'btn small'}
