html, body, ul, li, p {
  margin: 0;
  padding: 0;
}

body {
  font: 100% normal "Helvetica Neue",Helvetica,sans-serif;
  background-color: #E5EAF1;
}

li {
  list-style-type: none;
}

a {
  color: #3B5998;
  text-decoration: none;
  font-weight: bold;
}

.title {
  font-size: 120%;
  margin-bottom: 5px;
}

#logo {
  background-color: #eee;
  padding: 5px 10px;
  a {
    color: black;
  }
}

#page {
  padding: 10px;
  #page-container {
    background-color: white;
    padding: 10px;
    border-radius: 3px;
  }
}