.row
  .span16
    %p= link_to "Add an election", [:new, :admin, :election]

    %table
      %tr
        %th Name
        %th Actions
      - for election in @elections do
        %tr
          %td= election.name
          %td
            = link_to "Edit", edit_admin_election_path(election.id)
