#notice
  %p › Les propositions sont issues des programmes officiels des candidats disponibles sur leur site de campagne.
  %p › Voxe.org les a intégrées sans aucune modification.

#compare-view
  .tag= image_tag @tag.icon_prefix + "64" + @tag.icon_name, size: "32x32"
  
  = render "tag", election_tag: @election_tag

#notice
  %p Méthodologie

  %p Notre démarche est citoyenne, et totalement neutre.

  %p Nous intégrons dans le comparateur :

  %p › Les programmes officiels des candidats que nous arrivons à retrouver sur Internet, en particulier leur site officiel.

  %p › Des extraits vidéos des candidats qui commentent leur proposition.

  %P › Des définitions ou des données publiques ouvertes (Open Data), disponibles sur le web (par exemple : http://data.gouv.fr), afin de donner davantage de contexte et d’explication sur les propositions.

  %p Nous ne modifions pas le contenu des propositions.

  %P Mais nous ne sommes pas omniscients ! Voxe.org ne garantit en aucune façon ni l’exactitude ni la complétude des propositions des candidats transcrites et publiées sur son site et invite les internautes à consulter les publications mises à disposition par les candidats.

  %p Vous avez identifié des propositions manquantes ? Des vidéos à intégrer ? N’hésitez pas à nous écrire à content[at]voxe.org afin que nous les intégrions au plus vite !