<h1>Administrateurs</h1>

<table class="admins"></table>

<form id="add-admin">
  <fieldset>
    <legend>Ajouter un Admin</legend>
    <p>Tapez les premières lettes du nom de l'utilisateur.</p>
    <div class="clearfix">
      <label>Nom de l'utilisateur</label>
      <div class="input">
        <input class="name" name"name">
        <input type="hidden" name="id" class="id">
      </div>
    </div>
    <div class="actions">
      <input type="submit" class="btn primary">
    </div>
  </fieldset>
</form>
