body, html {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background: whiteSmoke;
}

/* http://rakaz.nl/2009/09/iphone-webapps-101-getting-safari-out-of-the-way.html */

* {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.help {
  width: 100%;
  text-align: center;
  clear: both;
  span {
    background-color: #A9B5D3;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    color: white;
  }
}

#compare-view {
  
  padding: 15px;
  
  .help {
    margin: 15px 0 20px 0;
  }
  
  -webkit-touch-callout: none;
  
  .tag {
    text-align: center;
  }
  
  .propositions {
    background: white;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .52);
    padding: 10px 10px 5px 10px;
    overflow: auto;
    margin: 5px 0;
  }

  .candidate {
    float: left;
    
    img {
      border-radius: 2px;
    }
  }

  .proposition {
    a {
      margin-left: 50px;
      margin-bottom: 5px;
      display: block;
      line-height: 20px;
      -webkit-touch-callout: none;
      font-size: 13px;
    }
  }
  
} 

#proposition-view {
  
  padding: 15px;
  
  .help {
    margin: 5px 0 20px 0;
  }
  
  .proposition-container {
    z-index: 2;
    position: relative;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .52);
    background-color: white;
    .candidacy {
      border-bottom: #DDD 1px solid;
      margin: 10px 10px 5px 10px;
      padding: 10px 0 5px 0;
      overflow: auto;
      .candidate-name {
        font-weight: 300;
        margin-left: 60px;
      }
      .candidate-photo {
        float: left;
        img {
          border-radius: 2px;
        }
      }
    }
    .proposition-text {
      line-height: 22px;
      padding: 0 11px 5px 11px;
      font-size: 14px;
    }
  }
  
}