.static-page-container
  = render "web/static/nav"
    
  .static-page
    :markdown
      # Présentation du projet

      ## Voxe.org : comparateur neutre de programmes politiques

      Alors que la parole politique est dévaluée, Voxe.org revient au fond des propositions et permet à chacun de se construire une opinion éclairée et objective avant de voter.

      Un site internet, des applications iPhone, iPad, Android et BlackBerry permettent à tous et à tout moment de consulter, comparer et contextualiser les propositions des candidats aux élections.

      Les propositions - issues de programmes officiels des candidats - sont intégrées à Voxe.org sans aucune forme d’éditorialisation dans un souci de transparence, de clarté et d’indépendance. Elles sont également enrichies de données contextuelles : statistiques, vidéos, open data, liens...

      Voxe.org, association à but non lucratif, est une plateforme ouverte et collaborative. Chacun, citoyen, journaliste, webmaster ou autre peut s’emparer de la plateforme et l’enrichir.

      Lancé en France à l’occasion de l’élection présidentielle, Voxe.org mettra à disposition les programmes des candidats d’autres élections dont les Etats-Unis, l’Allemagne et bien d’autres.


      # Méthodologie

      Notre démarche est citoyenne, et totalement neutre. Nous intégrons dans le comparateur :

      * Les programmes officiels des candidats que nous arrivons à retrouver sur Internet, en particulier leur site officiel.
      * Des extraits vidéos des candidats qui commentent leur proposition
      * Des définitions ou des données publiques ouvertes (Open Data), disponibles sur le web (par exemple : http://data.gouv.fr), afin de donner davantage de contexte et d’explication sur les propositions.

      ## Nous ne modifions pas le contenu des propositions.

      Mais nous ne sommes pas omniscients ! Vous avez identifié des propositions manquantes ? Des vidéos à intégrer ? N’hésitez pas à nous écrire à content[at]voxe.org afin que nous les intégrions au plus vite !

      Merci et bon vote :-)
