.static-page-container
  .page-content
    .title Compare. Anywhere.
    
    .platforms
      .platform.ios
        .name iPhone, iPad, iTouch
      .platform.android
        .name Android
      .platform
        .name BlackBerry