.static-page-container
  .page-content
    .title Compare. Anywhere.
    
    .platforms
      .platform.ios
        .name iPhone, iPad, iTouch
        = link_to_app_store image_tag('web/iphone.png')
        
      .platform.android
        .name Android
        = link_to_android_market image_tag('web/android.png')
        
      / .platform
      /   .name BlackBerry
      /   Go to voxe.org via your BB.