.static-page-container
  = render "web/static/nav"
    
  .static-page
    :markdown
      # Méthodologie

      Notre démarche est citoyenne, et totalement neutre. Nous intégrons dans le comparateur :

      * Les programmes officiels des candidats que nous arrivons à retrouver sur Internet, en particulier leur site officiel.
      * Des extraits vidéos des candidats qui commentent leur proposition.
      * Des définitions ou des données publiques ouvertes (Open Data), disponibles sur le web (par exemple : http://data.gouv.fr), afin de donner davantage de contexte et d’explication sur les propositions.

      ## Nous ne modifions pas le contenu des propositions.

      Mais nous ne sommes pas omniscients ! Voxe.org ne garantit en aucune façon ni l'exactitude ni la complétude des propositions des candidats transcrites et publiées sur son site et invite les internautes à consulter les publications mises à disposition par les candidats.

      Vous avez identifié des propositions manquantes ? Des vidéos à intégrer ? N’hésitez pas à nous écrire à content[at]voxe.org afin que nous les intégrions au plus vite !

      # Sources des programmes

      [François Bayrou](http://www.bayrou.fr)

      [Christine Boutin](http://www.boutin2012.fr/mon-Projet)

      [Nicolas Dupont-Aignan](http://www.debout-la-republique.fr/projet-presidentiel-de-nicolas-dupont-aignan-31-propositions)

      [François Hollande](http://francoishollande.fr/)

      [Marine Le Pen](http://www.marinelepen2012.fr/le-projet/)

      [Jean-Luc Mélenchon](http://www.lhumaindabord2012.fr/)

      [Parti UMP](http://statique.lemouvementpopulaire.fr/DIVERS/Supp.Mag%2055-Projet_2012_bdf.pdf) (en attente d’un candidat officiel UMP)

      [Dominique de Villepin](http://www.republiquesolidaire.fr/7932-le-projet-en-20-points/) (en attente du programme officiel)

      Nous enrichissons les propositions au fil de l’eau des déclarations des candidats, issus de leur site Internet (discours) ou de leur intervention télévisuelle (avec, dans ce cas, la vidéo jointe à la proposition).

      ## Candidats en attente :

      [Eva Joly](http://evajoly2012.fr/agenda-eva/#meeting-deva-joly) : son projet sera présenté le 11 février 2012.

      [Jacques Cheminade](http://www.cheminade2012.fr/Preface_00434) : en cours d’intégration dans notre base.

      [Corinne Lepage](http://www.corinnelepage.fr/index.php/programme/) : en cours d’intégration dans notre base.

      [Nathalie Arthaud](http://www.nathalie-arthaud.info) : en cours d’intégration dans notre base.

      [Philippe Poutou](http://poutou2012.org/) : en cours d’intégration dans notre base.
