.static-page-container
  = render "web/static/nav"

  .static-page
    :markdown
      # Remerciements

      L’équipe de Voxe.org, c’est aussi de nombreux bénévoles et partenaires qui nous aident à améliorer le comparateur et son contenu,
      afin de le rendre plus exhaustif, plus pertinent, et plus international

      ## Soutiens
      Aidez-nous à développer Voxe.org ! Des contre-parties fort sympathiques sont à la clé.
      [Cela se passe ici, sur KissKissBankBank](http://www.kisskissbankbank.com/projects/voxe-org-le-comparateur-neutre-des-programmes-politiques) ;-)

      ## Le contenu
      Nous tenons à remercier pour leurs contributions aux programmes des candidats :
      - Barbara Lantz
      - Elena Ponomareva

      Envie de nous aider à identifier des programmes français ou d’élections étrangères ?
      Contactez-nous à l’adresse suivante : content[at]voxe.org !

      ## Partenaires
      Merci à notre partenaire [Bubble-Prod](http://bubble-prod.com/) pour son aide dans l’alimentation de notre [Channel Youtube](http://www.youtube.com/voxechannel).

      <a href="http://bubble-prod.com/" target="_blank">![Bubble prod](#{image_path('web/thanks/bubble.png')} =150x)</a>
