.clearfix
  = f.label :image
  .input
    - if f.object.persisted?
      .image-form= link_to image_tag(f.object.image.url(:square), class: 'thumbnail'), f.object.image.url, target: "_blank"
      Delete this image ?
      = f.check_box :_destroy
      %br
    = f.file_field :image