.hero-unit
  %h1 Loading...

%blockquote
  %p The masses never revolt of their own accord, and they never revolt merely because they are oppressed. Indeed, so long as they are not permitted to have standards of comparison, they never even become aware that they are oppressed
  %small Georges Orwell, 1984, Part 2, Chapter 9
