.hero-unit
  %h1 The Voxe System
  %p
    Keep in mind that anything you write will be read by millions of people and will surely influence their mind, their choice.
    Don't forget our main value,
    %strong neutrality
    !

%blockquote
  %p The masses never revolt of their own accord, and they never revolt merely because they are oppressed. Indeed, so long as they are not permitted to have standards of comparison, they never even become aware that they are oppressed
  %small Georges Orwell, 1984, Part 2, Chapter 9
