!!! HTML
%html
  %head
    %title= "Plugins | The Voxe"
    = stylesheet_link_tag "plugins"
  %body#plugin-index
    %iframe{src: plugins_compare_index_url(id: Election.first.id), width: '500px', height: '420px'}