= simple_form_for [:new_admin, @election, @candidacy] do |f|
  = f.input :candidates, collection: @available_candidates

%ul.candidates
  - @candidates.each do |candidate|
    %li.candidate
      = image_tag candidate.photo_url(:small)
      = candidate.name

