.embed
	.row
		.col-md-6= f.input :title, label: "Hypertexte"
		.col-md-6= f.input :url, label: '* ' + "URL"
		.col-md-12.col-md-offset-2.col-sm-offset-2= link_to_remove_fields "Supprimer", f, class: "btn cst-btn btn-warning"
	.row
	%hr
