%a{ :href => new_backoffice_proposition_path }
  .btn.btn-block
    = 'New proposition'

%table{ :class => "table table-hover" }
  %tbody
    - @propositions.each do |proposition|
      %tr
        %td
          = link_to proposition[:text],edit_backoffice_proposition_path(proposition[:_id])
