body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

/* http://rakaz.nl/2009/09/iphone-webapps-101-getting-safari-out-of-the-way.html */

* {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.table-view-container {
  background-color: #eee;
  position: absolute;
  top: 44px;
  width: 100%;
  z-index: 1;
  .table-view {
    z-index: 1;
    position: absolute;
    width: 100%;
  }
}

.iphone .table-view-container {
  bottom: -16px;
}

.android .table-view-container {
  bottom: 44px;
}

.page-view {
  display: none;
}

.iphone .modal-view {
  .table-view-container {
    bottom: -60px;
  }
}

.android  .modal-view {
  .table-view-container {
    bottom: 0;
  }
}

.modal-view {
  z-index: 3;
}

#navigation-view {
}

.modal-view, #navigation-view {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

#templates {
  display: none;
}