* {
  margin: 0;
  padding: 0; }

.body-color {
  background-color: #b82132; }
  
input[type=text],
input[type=email],
input[type=password] {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
 } 

.clearer {
  clear: both; }

.header {
  font-family: "bebas_neuebook", Arial, sans-serif;
  text-transform: uppercase;
  height: 50px;
  background-color: white;
  text-align: center;
  position: relative; }
  .header span {
    color: black;
    font-size: 15pt;
    letter-spacing: 2px;
    float: right;
    position: absolute;
    top: 3px;
    right: 10px;
    line-height: 50px; }
  .header .menu {
    position: absolute;
    top: 10px;
    left: 15px; }
    .header .menu > li:first-child {
      display: block;
      width: 27px;
      height: 27px;
      background: transparent image-url('welcome/icon-ham.gif') 6px 8px no-repeat;
      border: 1px solid #99aab5;
      text-indent: -3000px;
      position: relative; }
      .header .menu > li:first-child:hover ul {
        z-index: 10;
        display: block; }
    .header .menu ul {
      display: none;
      position: absolute;
      top: 27px;
      left: -1px;
      list-style-type: none; }
      .header .menu ul li {
        position: relative;
        top: -1px; }
        .header .menu ul li a {
          color: black;
          font-family: "bebas_neuebold", Arial, sans-serif;
          background-color: white;
          display: block;
          border: 1px solid #99aab5;
          text-indent: 0;
          font-size: 14.5pt;
          text-decoration: none;
          width: initial;
          padding: 0 2vw;
          text-align: left;
          white-space: nowrap;
          line-height: 51px;
          height: 47px; }
          .header .menu ul li a:hover {
            background-color: black;
            color: white;
            border-color: white; }
        .header .menu ul li:first-child {
          top: 0; }
  .header .logo {
    line-height: 50px;
    font-family: "bebas_neuebold", Arial, sans-serif;}
    .header .logo a {
      color: #d4452f;
      font-size: 18pt;
      text-decoration: none;
      display: inline; }

.content {
  color: white;
  font-family: "bebas_neuebook", Arial, sans-serif; }
  .content div {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 7vw;
    width: 33.33%;
    float:left;}
    .content div img {
      margin: 7vw 0 3vw 0;}
    .content div h2 {
      font-family: "bebas_neueregular", Arial, sans-serif;
      font-weight: normal;
      font-size: 3vw;
      letter-spacing: 0.3vw; }
    .content div a {
      color: white;
      font-family: "bebas_neueregular", Arial, sans-serif;
      text-decoration: none;
      font-size: 2vw;
      padding: 1.5vw 0.7vw 1vw 1vw;
      border-radius: 1vw;
      letter-spacing: 0.2vw;
      line-height: 7vw; }
    .content div.compare {
      background-color: #ea4335; }
      .content div.compare a {
        background-color: #d53224; }
    .content div.democracy {
      background-color: #31c4ff; }
      .content div.democracy a {
        background-color: #229ce2; }
    .content div.news {
      background-color: #ff6b31; }
      .content div.news a {
        background-color: #ef4e20; }
.newsletter {
  background: white;
  padding: 1vw;
  font-size: 2vw;
  text-align: center;
}
.newsletter label {
  font-family: "bebas_neuebold", Arial, sans-serif;
  color: #b82132;
  margin-right: 2vw;
  vertical-align: middle;
}
.newsletter label strong {
  font-family: "bebas_neuebold", Arial, sans-serif; 
  margin-right: 2vw;
  color: #d4452f;
}
.newsletter input[type=email] {
  padding: .5vw;
  color: grey;
  width: 17vw;
  font-size: 1vw;
  font-family: "bebas_neueregular", Arial, sans-serif;
  letter-spacing: 1px;
  display: inline-block;
  vertical-align: middle;
}
.newsletter input[type=submit] {
  border: white;
  background: #b82132;
  color: white;
  padding: .5vw;
  font-size: 1vw;
  font-family: "bebas_neuebold", Arial, sans-serif;
  display: inline-block;
  vertical-align: middle;
}

.footer {
  color: #6d020e;
  font-family: "bebas_neuebold", Arial, sans-serif;
  text-align: center;
  background-color: transparent;
  padding-bottom: 3vw; }
  .footer h3 {
    padding-top: 2.5vw;
    padding-bottom: 15px;
    font-size: 2vw;
    letter-spacing: 0.3vw; }
  .footer a {
    background-color: transparent;
    background-position: top left;
    background-repeat: no-repeat;
    text-indent: -3000px; }
    .footer a.twitter {
      margin-right: 10px; }

@media (max-width: 899px) {
  .content div h2 {
    font-size: 20pt;}
  .content div a {
    font-size: 14pt;
    float: left;
    margin-left: 15px;}
    
  .newsletter {
    padding:15px;
    font-size: 16pt;
  }
  .newsletter label {
    display: block;
    margin-bottom: 3px;
  }
  .newsletter input[type=email] {
    font-size: 12pt;
    padding: 3px 4px;
    width: 150px;
  }
  .newsletter input[type=submit] {
    font-size: 14pt;
    padding: 3px 4px;
  }
  .footer h3 {
    font-size: 16pt; } }

@media (max-width: 650px) {
  .header span {
    font-size: 13pt; }

  .content div {
    width: 100%;
    height: 18vw;
    position: relative;}

  .content div img {
    margin: 0;
    height: 14vw;
    position: absolute;
    left: 5vw;
    top: 6vw;}
    
  .content div h2 {
    font-size: 9vw;
    margin-top: 3vw;
    margin-left: 32vw;
    text-align: left;}
    
  .content div a {
    font-size: 6vw;
    margin-left: 32vw;;
}

  .footer h3 {
    padding: 5vw 6vw 3vw 6vw; font-size: 4.5vw; } }

@media (max-width: 500px) {
  .header span {
    display: none; } }
    
/*# sourceMappingURL=styles.scss.map */
