html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: whiteSmoke;
}

p {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #551A8B;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

a img {
  border: 0px;
}

.help {
  position: relative;
  z-index: 2;
  margin: 30px 0;
  width: 100%;
  text-align: center;
  clear: both;
  span {
    background-color: #A9B5D3;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    color: white;
  }
}

a.button {
  background-color: #E6E6E6;
  color: rgba(0, 0, 0, 0.5);
  padding: 4px 10px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

#empire-state-building {
  top: 0;
  position: fixed;
  z-index: 10;
  background-color: #eee;
  width: 100%;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .52);
  font-weight: 300;
  color: #292929;
  height: 50px;
  #top {
    margin: 5px 0 0 0;
    position: absolute;
    left: 50%;
    margin-left: -16px;
  }
  .top-container {
    width: 980px; 
    margin: 0 auto;
  }
  #app {
    float: left;
    font-size: 18px;
    margin: 13px 0 0 0;
    a {
      color: #211922;
      display: block;
      float: left;
    }
  }
  #nav {
    float: right;
    font-size: 13px;
    margin: 15px 0 0 0;
    li {
      margin-left: 4px;
      float: left;
      a {
        color: #211922;
      }
    }
  }
}

#high-line {
  border-right: 2px dashed #C3CCDF;
  position: fixed;
  margin-left: 50%;
  height: 100%;
  opacity: 0.3;
}

#menu-container {
  position: fixed;
  top: 50px;
  width: 100%;
  #menu {
    width: 200px;
    position: relative;
    z-index: 3;
    margin: 30px 0 0 50px;
    li {
      display: none;
      cursor: pointer;
      border-left: #C8D1E2 5px solid;
      padding: 5px 10px;
      font-weight: bold;
      color: #627AAD;
      font-size: 14px;
      margin: 3px 0;
    }
    li.active {
      border-left: #A9B5D3 5px solid;
    }
    li:hover {
      border-left: #A9B5D3 5px solid;
    }
    li.election {
      font-weight: lighter;
      font-size: 24px;
    }
    li.candidacies {
      img {
        border-radius: 2px;
      }
    }
    li.theme {
      font-size: 18px;
    }
    li.section {
      font-size: 16px;
      font-weight: lighter;
    }
  }
}

.page-container {
  width: 980px;
  margin: 30px auto 0 auto;
}

#pages-container {
  padding-top: 50px;
  position: relative;
  width: 100%;
  
  #pages {
    overflow: hidden;
    position: relative;
    .page {
      /*display: none;*/
    }
  }
}

#elections {
  .election {
    cursor: pointer;
    width: 302px;
    margin: 10px auto 0 auto;
    border: 1px solid #C4CDE0;
    padding: 10px;
    background-color: white;
    .name {
      border-bottom: 2px solid #E5E5E5;
      padding: 0 0 3px 0;
      font-weight: 300;
      font-size: 18px;
    }
    .facepile {
      margin: 8px 0 0 0;
      img {
      }
    }
    a {
      color: #3B5998;
      text-decoration: none;
    }

  }
  .election:hover {
    border-color: #97A4C4;
  }
}

#candidacies-list-container {
  width: 640px;
  margin: 20px auto;
  #candidacies-list {
    position: relative;
    border: 1px solid #C4CDE0;
    /*top: -500px;*/
    background-color: white;
    overflow: auto;
    padding: 5px 0;
  }
  .candidacy {
    cursor: pointer;
    width: 180px;
    float: left;
    margin: 5px;
    padding: 5px 10px;
    background-color: #F6F7F9;
    border: 1px solid #F6F7F9;
    .image {
      float: left;
      img {
        border-radius: 1px;
      }
    }
    .name {
      margin: 5px 0 0 60px;
      font-weight: 300;
    }
  }
  .candidacy:hover {
    border: 1px solid #D3DAE8;
  }
  .candidacy.selected {
    .name {
      font-weight: bold;
    }
  }
}

#tags-list {
  border: 1px solid #C4CDE0;
  background-color: white;
  overflow: auto;
  width: 564px;
  margin: 20px auto;
  li {
    cursor: pointer;
    margin: 5px;
    padding: 8px 10px 0 10px;
    width: 250px;
    height: 40px;
    float: left;
    border: 1px solid #F6F7F9;
    background-color: #F6F7F9;
    .icon {
      float: left;
    }
    .name {
      font-weight: 300;
      margin-left: 44px;
      padding: 0 0 5px 0;
    }
  }
  li:hover {
    border: 1px solid #D3DAE8;
  }
}

#comparison-container {
  width: 600px;
  margin: 0 auto;
  position: relative;
  z-index: 4;
  .tag-image {
    clear: both;
    width: 90px;
    margin: 0 auto;
    background-color: whiteSmoke;
    border-radius: 30px;
    text-align: center;
    img {
      padding: 0 0;
    }
  }
  .tag {
    position: relative;
    z-index: 2;
    margin: 30px 0;
    width: 100%;
    text-align: center;
    clear: both;
    span {
      background-color: #A9B5D3;
      padding: 5px 10px;
      border-radius: 2px;
      font-weight: bold;
      color: white;
    }
  }
  .candidacies {
    overflow: auto;
  }
  .candidacy.left {
    width: 280px;
    text-align: right;
    float: left;
  }
  .candidacy.right {
    width: 280px;
    text-align: left;
    float: right;
  }
  .proposition {
    text-align: left;
    font-size: 13px;
    border: 1px solid #C4CDE0;
    margin: 5px 0;
    background-color: white;
    line-height: 1.466;
    
    .proposition-links {
      margin: 0 10px 10px 10px;
      border-top: 1px solid #E2E2E2;
      background: #F1F1F1;
      padding: 5px;
      p {
        font-weight: bold;
      }
    }
    
    .proposition-video {
      margin: 5px 10px 0 10px;
      cursor: pointer;
      position: relative;
      .play-button {
        position: absolute;
        width: 255px;
        height: 190px;
        background: url("#{asset_path('web/icons/play.png', 'images')}") no-repeat 111px 80px;
      }
    }
    
    .proposition-link {
      a {
        display: block;
        background: url("#{asset_path('web/icons/glass.png', 'images')}") no-repeat 4px 3px;
        padding: 0 0 0 24px;
      }
    }
    
    .text {
      padding: 10px 10px 8px 10px;
    }
    
    .actions {
      .comments-count {
        a {
          color: #3B5998;
          span {
            display: none;
            text-decoration: none;
            margin-left: 5px;
          }
        }
        a.indicator {
          span {
            display: inline;
          }
        }
      }
    }
    
    form {
      margin: 10px;
      textarea {
        border: 1px solid #CCC;
        padding: 4px;
        width: 245px;
      }
    }

    .comment {
      padding: 5px 8px;
      font-size: 11px;
      border-bottom: 1px solid #eee;
      img {
        margin-right: 4px;
        border-radius: 1px;
      }
      span {
        font-weight: bold;
      }
      .comment-actions {
        float: right;
      }
    }
  }

  .no-proposition-available {
    a {
      color: #3B5998;
    }
    text-align: center;
    font-size: 13px;
  }
}

.proposition, .new-user, .new-session {
  .ribbon {
    font-weight: 300;
    background: #EDEFF4;
    padding: 5px 10px;
    border-width: 1px 0 1px 0;
    border-color: #C4CDE0;
    border-style: solid;
  }
  .fields {
    margin: 10px;
  }
  .field {
    margin: 4px 0;
  }
  .button {
    margin: 10px 0;
  }
  input {
    border: 1px solid #CCC;
    padding: 4px;
    width: 245px;
  }
  a {
    margin: 2px 0;
  }
  .errors {
    color: red;
    font-weight: bold;
    display: none;
    font-size: 13px;
    margin: 15px 0;
  }
  a.session {
    margin: 10px;
    display: block;
  }
  
  .share {
    float: right;

    .facebook {
      cursor: pointer;
    }
  }
}

.theater-curtain {
  background-color: #000;
  position: fixed;
  z-index: 20;
  top: 50px;
  left: 0px;
  right: 0;
  bottom: 0;
  opacity: 0.2;
}

.theater-container {
  background-color: white;
  z-index: 20;
  position: fixed;
  top: 100px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .52);
  .theater-movie {
  }
}

#session {
  .logo {
    margin: 10px 0;
    text-align: center;
  }
  .facepile {
    margin: 15px 0 5px 0;
    text-align: center;
  }
}

#tweet-button {
  margin: 1px 0 0 20px;
  float: left;
}

#facebook-button {
  float: left;
}

#appstores {
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 2;
}

#user-profile {
  img {
    border-radius: 1px;
    margin-right: 4px;
  }
}

.fb-connect {
  width: 254px;
  height: 44px;
  background: url("#{asset_path('facebook-login.png', 'images')}");
  margin: 0 auto 10px;
  color: white;
  text-align: center;
  cursor: pointer;
  line-height: 45px;
}
