/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* - it all starts here - */

body, html {
	font:normal normal 22px/25px Helvetica, Arial, sans-serif;
	font-weight:300;
}

a {
	color:#4183C4;
	cursor:pointer;
}

#select-candidates, #specific {
	margin:0 0 0 -175px;
	top:30%;
	left:50%;
	position:fixed;
	width:350px;
	text-align:center;
	background:white;
	color: #333;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 4px 1px #aaa;
	-webkit-box-shadow: 0 0 4px 1px #aaa;
	box-shadow: 0 0 4px 1px #aaa;
	border:1px solid #999;
}

#speech {
	padding:20px;
}

#next-step {
	padding-top:10px;
	padding-bottom:11px;
	border-top:1px solid #ccc;
}

#next-step a {
	font-weight:bold;
	cursor: pointer;
	display: inline-block;
	padding: 5px 14px;
	font-size: 13px;
	line-height: normal;
	border: 1px solid #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-ms-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all;
	background-color: #57A957;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
	background-image: -moz-linear-gradient(top, #62c462, #57a957);
	background-image: -ms-linear-gradient(top, #62c462, #57a957);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
	background-image: -webkit-linear-gradient(top, #62c462, #57a957);
	background-image: -o-linear-gradient(top, #62c462, #57a957);
	background-image: linear-gradient(top, #62c462, #57a957);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #57A957 #57A957 #3D773D;
	color:white;
	opacity:0.4;
	-moz-opacity : 0.4; 
    -ms-filter: "alpha(opacity=40)"; /* IE 8 */ 
    filter : alpha(opacity=40); /* IE < 8 */ 
}

#next-step a:hover {
	background-position: 0 -15px;
}

#templates {
  display: none;
}

#selection {
	text-align:left;
	display:none;
	overflow:hidden;
	height:189px;
}


#selection li {
	padding-left:40px;
	padding-top:10px;
	border-top: 1px solid #ccc;
	cursor:pointer;
	clear:both;
	height:52px;
	background:#f3f3f3;
}

#selection li:hover {
	background:#e9e9e9;
}

#selection li a {
	padding-top: 5px;
	padding-bottom: 3px;
	font-size:14px;
}

#selection div {
	width:350px;
	float:left;
}

#selection li {
	position:relative;
	overflow:hidden;
}

#selection li img {
	width: 40px;
	padding:1px;
	border:1px solid #ccc;
	float:left;
	margin-right:10px;
}

#selection li h1 {
	float: left;
	padding-top:2px;
	font-size:20px;
}

#selection li small {
	display:block;
	font-size:12px;
	color:#999;
	position:relative;
	bottom:5px;
}


#selection li span {
	background-color: #57A957;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
	background-image: -moz-linear-gradient(top, #62c462, #57a957);
	background-image: -ms-linear-gradient(top, #62c462, #57a957);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
	background-image: -webkit-linear-gradient(top, #62c462, #57a957);
	background-image: -o-linear-gradient(top, #62c462, #57a957);
	background-image: linear-gradient(top, #62c462, #57a957);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
	position: absolute;
	left: -78px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	font-size: 10px;
	color: white;
	padding: 0px 10px;
	top: 18px;
	padding-left:20px;
	font-weight:bold;
    display:none;
}

#compare #menu {
	width:1000px;
	margin:0 auto;
}

#compare #content {
	width:1000px;
	margin:0 auto;
	margin-top:100px;
}

#compare #sidebar {
	width:249px;
	background:white;
	float:left;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border:1px solid #ccc;
	border-right:none;
}

#compare #corps {
	width:748px;
	float:left;
	background:white;
	-webkit-border-radius: 5px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 5px;
	-moz-border-radius-topleft: 0;
	border-radius: 5px;
	border-top-left-radius: 0;
	border:1px solid #ccc;
}

#corps {
	margin-left:250px;
	margin-bottom:50px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#corps h1 {
	color: #999;
	font-weight: lighter;
	font-size: 30px;
	text-align: center;
	line-height: 30px;
}

#corps small {
	display: block;
	text-align: center;
	font-size: 16px;
	color: #BBB;
}

/* <debug> */
#compare {
	display:none;
}

/*#select-candidates {
    display:none;
}*/
/* </debug> */

#sidebar li {
	padding:5px 0px;
	font-weight:bold;
	font-size:13px;
	color:#444;
	padding-left:30px;
	border-bottom:1px solid #ccc;
	background:url(./images/picto.png) 5px 7px no-repeat;
}

#sidebar li:first-child {
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
}

#sidebar li:last-child {
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	border:none;
}

#sidebar li:hover {
	cursor:pointer;
	background:#eee;
	background:url(./images/picto-hover.png) 5px 7px no-repeat;
}

#sidebar li.selected {
	background: #eee;
}

#sidebar {
	position:fixed;
	overflow:hidden;
}

#sidebar ul {
	width:300px;
	float:left;
}

#sidebar ul li div {
    display:none;
    line-height: 25px;
    left: -17px;
    position: relative;
}

#sidebar ul li div a {
    color: #4183C4;
    cursor: pointer;
    display: block;
    border-left: 3px solid #EEE;
    padding-left: 14px;
    font-weight:normal;
}

#sidebar ul li div a:hover {
    border-left-color: #CCC;
    background: #EEE;
}

#compare #topbar {
	z-index:10;
	position:fixed;
	width:100%;
	background:black;
	left:0;
	top:0;
	color:white;
	font-size:20px;
	background-color: #222;
	background-color: #222;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#333333), to(#222222));
	background-image: -moz-linear-gradient(top, #333333, #222222);
	background-image: -ms-linear-gradient(top, #333333, #222222);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #222222));
	background-image: -webkit-linear-gradient(top, #333333, #222222);
	background-image: -o-linear-gradient(top, #333333, #222222);
	background-image: linear-gradient(top, #333333, #222222);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	padding:7px;
}

#no-selection {
	margin-top:250px;
	margin-bottom:250px;
}

#selected-theme {
	display:none;
	margin:10px;
}

#selected-theme h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#selected-theme #loader {
    text-align: center;
    font-size: 13px;
    padding:10px;
    color: #AAA;
}

#selected-theme #loader img {
    position: relative;
    top: 3px;
    padding-right: 2px;
}

#propositions {
	width: 600px;
	margin:10px;
	font-size:13px;
}


#propositions img {
	float: left;
	margin-right:10px;
}

#propositions ul li img {
	padding:1px;
	border:1px solid #ccc;
}

#propositions h2 {
	padding: 5px 0px;
	font-weight: bold;
	font-size: 20px;
	padding-left: 60px;
}

#propositions h3 {
    font-size: 15px;
    padding-left: 60px;
    padding-bottom:10px;
    color: #888;
}

#propositions ul li {
	margin-bottom:30px;
	cursor:pointer;
}

#propositions ul li p:hover {
	background:#f6f6f6;
}

#propositions ul li p {
	position:relative;
	border: 1px solid #CCC;
	border-bottom: 3px solid #ccc;
	margin-left: 60px;
	border-radius: 5px;
	padding: 10px;
	margin-bottom:10px;
}

#propositions ul li p a {
	position:absolute;
	right: -75px;
	font-weight: bold;
	top:10px;
}

#propositions ul li p a:hover {
	text-decoration:underline;
}


#specific {
	display:none;
	z-index:7;
}

#modal {
	opacity:0.3;
	display:none;
	z-index:5;
	position:fixed;
	width:100%;
	height:100%;
	background-color:black;
	top:0;
	left:0;
}

#specific {
	margin: 0 0 0 -300px;
	left:50%;
	width:600px;
	text-align:left;
	padding-bottom:20px;
}

#specific a.close {
	position:absolute;
	right:0px;
	font-size: 13px;
	font-weight: bold;
	padding-right: 10px;
}

#specific #quote {
	padding:20px;
}

#specific #quote h3 {
	padding-bottom: 10px;
	font-size: 20px;
	padding-left: 75px;
	font-weight: bold;
}

#specific #quote img {
	width: 60px;
	padding: 1px;
	border: 1px solid #CCC;
	float:left;
}

#specific #les-medias {
	padding:10px 20px 5px;
	background:#eee;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

#specific #les-medias img {
	width:120px;
	border:1px solid #ccc;
	padding:1px;
	cursor:pointer;
}

#specific #les-medias img:hover {
	border-color:#AAA;
}

#specific #quote li p {
	font-style:italic;
	margin-left: 70px;
	width: 467px;
	border: 1px solid #CCC;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 22px;
	border-bottom: 3px solid #CCC;
}