@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import 'bootstrap/navs';

.candidate-profile {
  width: 960px;
  margin: 0 auto;
}
.name-title {
  font-size: 40px;
  margin-top: 10px;
}
#biographie {
	margin-top: 0;
    padding-bottom: 10px;
    padding-top: 5px;
}
.titre-part {
	color: #808080;
    font-size: 22px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 10px;
    margin-top: 20px;
}
.contenu {
	text-align:justify;
	line-height: 20px;
}
.proposition {
    margin: 5px;
    text-align: justify;
}
.hr-proposition {
	color: grey;
	background-color: grey;
	height: 1px;
	border: 0;	
	width: 35%;
    margin-bottom: 15px;
    margin-top: 15px;	
}