html {
  position: relative;
  min-height: 100%;
}
body.welcome {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}



#welcome-page {
  .header {
    margin-top: 100px;
    text-align: center;
    height: 202px;

    .header-background {
      background-image: image-url("welcome/vote_voxe.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      height: 202px;
      float: left;
    }
  }

  .content {
    text-align: center;
    padding-bottom: 40px;

    .explanation {
      color: rgb(13,25,150);
      .cta {
        margin: 0 auto;
        margin-top: 32px;
        display: block;
        height: 44px;
        width: 313px;
        background-image: image-url('welcome/btn_vote_off.jpg');
        &:hover {
          background-image: image-url('welcome/btn_vote_over.jpg');
        }
      }
      .discover-project {
        font-size: 14pt;
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        color: blue;
        text-decoration: underline;
      }
    }
  }
}

.welcome-footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  background-color: #061ca5;
  color: white;
  text-align: center;
  width: 100%;

  .footer-container {
    height: 20px;
    margin: 20px 140px;
  }

  span, form {
    float: left;
  }

  form {
    input[type="email"] {
      font-family: "Helvetica";
      font-size: 12px;
      padding: 4px;
      border: none;
    }
    input[type="submit"] {
      padding: 4px;
      margin: 0;
      position: relative;
      left: -5px;
      top: 1px;
      background-color: rgb(99,117,183);
      border: none;
      color: white;
      font-size: 10px;
    }
  }
}
