#welcome-page {
  .header {
    margin-top: 60px;
    background-color: #ff5500;
    text-align: center;
    height: 310px;

    .header-background {
      background-image: image-url("welcome/header.png");
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      height: 310px;
      float: left;
    }

    .headline {
      font-size: 21pt;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
      width: 780px;
      color: black;
      text-align: center;
      margin: 0 auto;
      margin-top: 190px;
    }
  }

  .content {
    text-align: center;

    .explanation {
      color: rgb(13,25,150);
      .title {
        font-family: "Bebas Neue";
        font-size: 16pt;
        text-transform: uppercase;
      }
      .subtitle {
        font-family: "Helvetica Neue";
        font-size: 21pt;
      }
      .cta {
        margin: 0 auto;
        margin-top: 32px;
        display: block;
        height: 44px;
        width: 205px;
        background-image: image-url('welcome/btn-compare.png');
        &:hover {
          background-image: image-url('welcome/btn-compare-hover.png');
        }
      }
    }
  }
}

.welcome-footer {
  position: absolute;
  bottom: 0;
  background-color: #061ca5;
  color: white;
  text-align: center;
  width: 100%;
  padding: 20px 140px;

  span {
    padding-top: 4px;
  }

  span, form {
    float: left;
  }

  form {
    input[type="email"] {
      font-family: "Helvetica Neue";
      font-size: 12pt;
      padding: 4px;
      border: none;
    }
    input[type="submit"] {
      padding: 4px;
      margin: 0;
      position: relative;
      left: -5px;
      background-color: rgb(99,117,183);
      border: none;
      color: white;
      font-size: 12pt;
    }
  }
}
