%script#elections-list-template{type: "text/html"}
  .nav-bar
    .title voxe

  .table-view-container
    .table-view
      %ul.elections
        :plain
          {{#elections}}
            <li election-id="{{id}}">
              <div class="name">{{name}}</div>
            </li>
          {{/elections}}

%script#share-template{type: "text/html"}
  .nav-bar
    %a.button.left.close Close
    .title Share

  .table-view-container
    .table-view
      
      %p You will be able to edit what you share before posting.
      
      %ul
        %li.facebook
          .image= image_tag 'share/facebook48.png'
          .name Facebook
  
        = link_to twitter_intent_url, target: "_blank" do
          %li.twitter
            .image= image_tag 'share/twitter48.png'
            .name Twitter
        

%script#candidacies-list-template{type: "text/html"}
  .nav-bar
    %a.button.left.nav  ← Elections
    .title {{election.name}}
    %a.button.right.compare Compare
  
  .table-view-container
    .table-view
      %ul.candidacies
        :plain
          {{#election.candidacies}}
            <li candidacy-id="{{id}}">
              {{#candidates}}
                <div class="image"><img src="{{photo.sizes.small.url}}" width="40px" height="40px" /></div>
                <div class="name">{{firstName}} {{lastName}}</div>
              {{/candidates}}
            </li>
          {{/election.candidacies}}
        
%script#tags-list-template{type: "text/html"}
  .nav-bar
    %a.button.left.nav  ← Candidates
    .title Themes
  
  .table-view-container
    .table-view
      %ul.tags
        :plain
          {{#tags}}
            <li tag-id="{{id}}">
              <div class="icon"><img src="{{icon.prefix}}64{{icon.name}}" width="44px" height="44px" /></div>
              <div class="name">{{name}}</div>
            </li>
          {{/tags}}
          
%script#compare-template{type: "text/html"}
  .nav-bar
    %a.button.left.nav  ← Themes
    %a.button.right.share Share
    .title {{#tag}}{{name}}{{/tag}}
    
  .table-view-container
    .table-view

%script#propositions-template{type: "text/html"}
  :plain
    {{#categories}}
      <div class="category">
        <div class="category-name">{{name}}</div>
        {{#sections}}
          <div class="section">               
            <div class="section-name">{{name}}</div>
            {{#candidacies}}
              <div class="candidacy">
                {{#candidates}}
                  <div class="photo">
                    <img src="{{photo.sizes.small.url}}" width="44px" height="44px" />
                  </div>
                {{/candidates}}
        
                {{#propositions}}
                  <div class="proposition">
                    {{text}}
                  </div>
                {{/propositions}}
              </div>
            {{/candidacies}}
          </div>
        {{/sections}}
      </div>
    {{/categories}}