#candidates-list-template
  .nav-bar
    .title {{election.name}}
    %a.button.right Compare
  
  .table-view-container
    .table-view
      %ul.candidates
        :plain
          {{#election.candidates}}
            <li candidate-id="{{id}}">
              <div class="image"><img src="{{photo.sizes.small.url}}" width="40px" height="40px" /></div>
              <div class="name">{{firstName}} {{lastName}}</div>
            </li>
          {{/election.candidates}}

#propositions-template
  .nav-bar
    %a.button.left  ← Themes
    .title {{#theme}}{{name}}{{/theme}}

  .table-view-container
    .table-view
      :plain
        {{#categories}}
          <div class="category">
            <div class="category-name">{{name}}</div>
            {{#sections}}
              <div class="section">               
                <div class="section-name">{{name}}</div>
                {{#candidates}}
                  <div class="candidates">
                    {{firstName}} {{lastName}}
            
                    {{#propositions}}
                      <div class="candidates">
                        {{text}}
                      </div>
                    {{/propositions}}
                  </div>
                {{/candidates}}
              </div>
            {{/sections}}
          </div>
        {{/categories}}