.container
  .content
    .page-header
      %h1= @election.name
      
      %h2= @tag.name
      
      %table.bordered-table
        %thead
          %th
          - @candidates.each do |candidate|
            %th= candidate.name