:javascript
  $(function() {
    new VoxeElection(#{@json});
  });
    
#templates
  = render 'touch.mustache'

#application-view
  #candidates-list.modal-view
        
  #navigation-view
    .page-view#themes
    .page-view#compare
          

    #toolbar
      %a candidates