:javascript
  $(function() {
    new VoxeElection(#{@json});
  });
    
#templates
  = render 'touch.mustache'

#application-view
  #candidacies-list.modal-view
  #share.modal-view
        
  #navigation-view
    .page-view#tags
    .page-view#compare          

    #toolbar
      %a candidacies