#nav-bar
  %a.page1 candidates
  %a.page2 themes
  %a.page3 propositions

.page-view#page1
  .table-view-container
    .table-view
      - @election.candidates.each do |candidate|
        %h2= candidate.firstName
        
.page-view#page2
  .table-view-container
    .table-view
      - @election.themes.each do |theme|
        %h2= theme.name

.page-view#page3
  .table-view-container
    .table-view
      - 30.times do
        President Obama traveled to the heart of Republican Kansas on Tuesday, where he presented Americans with a choice: a "fair shot" with him, or a return to "you're on your own economics.

#tool-bar