.container
  .content
    .page-header
      %h1= @election.name
      
    %h2 Themes
    - @election.root_election_tags.in_groups_of(4).each do |group|
      .row
        - group.each do |election_tag|
          .span4
            = link_to election_tag.tag.name, election_compare_path(@election, params[:candidates], election_tag.tag.namespace)