html, body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  overflow-x: hidden;
}

#templates {
  display: none;
}

#header, #footer {
  background-color: #DDEEF6;
  font-weight: bold;
  position: fixed;
  width: 100%;
  z-index: 5;
}

#header {
  font-size: 16px;
  height: 34px;
  top: 0;
  span {
    padding: 3px;
    background-color: #ddd;
    border-radius: 3px;
  }
  span:hover {
    cursor: pointer;
  }
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  .container {
    padding: 7px 0 0 10px;
  }
  .facebook, .twitter {
    float: right;
    margin: 9px 5px 0 0;
  }

  a img {
    border: 0px;
  }
}

#footer {
  border-top: #E5E5EE 1px solid;
  bottom: 0;
  height: 25px;
  a {
    color: rgba(0, 0, 0, .5);
    font-size: 10px;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    text-decoration: none;
  }
  .container {
    padding: 5px 10px 0 10px;
    #instructions {
      float: right;
      font-size: 9px;
    }
  }
}

#content {
  position: absolute;
  top: 34px;
  width: 100%;
  bottom: 25px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;

  li {
    margin-bottom: 1px;
  }
}

#touch {
  .container {
    padding: 5px 10px 0 10px;
    background-color: #DDEEF6;
    font-weight: bold;
    height: 25px;
    border-bottom: #E5E5EE 1px solid;
    a {
      color: rgba(0, 0, 0, .5);
      font-size: 10px;
      font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
      text-decoration: none;
    }
  }
  .market {
    margin: 5px;
    text-align: center;
  }
}

.proposition {
  .embeds {
    a {
      padding: 2px 5px 2px 30px;
      color: black;
      text-decoration: none;
    }
    .video {
      background: url(image-path('video.png')) no-repeat #F5F5FF 2px 2px;
    }
    .link {
      background: url(image-path('globe.png')) no-repeat #F5F5FF 2px 2px;
    }
  }
}
