#tags-list, #candidacies-list {
  color: #252519;
  background-color: #fff;
  li {
    /*opacity: 0.7;*/
    overflow: auto;
    padding: 5px 10px;
    font-size: 14px;
    .icon {
      float: left;
      img {
        border-radius: 3px;
      }
    }
    .name {
      margin-left: 39px;
      margin-top: 9px;
    }
  }
  li:hover {
    background-color: #F5F5FF;
    cursor: pointer;
  }
  li.selected {
    font-weight: bold;
    opacity: 1.0;
  }
}

#candidacies-list {
  left: 0;
  width: 300px;
  z-index: 1;
}

#tags-list {
  right: 0;
  border-left: 1px solid #DDD;
  -webkit-box-shadow: 0 0 20px #ccc;
  z-index: 3;
}

#propositions {
  border-right: 1px solid #DDD;
  border-left: 1px solid #DDD;
  -webkit-box-shadow: 0 0 20px #ccc;
  line-height: 22px;
  font-size: 12px;
  z-index: 2;
  left: 250px;
  right: 0;

/*  .container {
    height: 100%;
    position: relative;
    overflow: hidden;
    ul {
      height: 100%;
      overflow-y: auto;
    }
  }*/

  .indicator {
    display: none;
    margin: 0 auto;
    width: 16px;
    margin-top: 30px;
  }

  .category-name {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #878787;
  }

  .category {
    margin: 10px;
    border: 1px solid #878787;
    border-radius: 3px;
    .section-name {
      border-bottom: 1px solid #878787;
      padding: 5px;
      font-size: 14px;
    }
    .candidacy {
      margin: 10px;
      overflow: auto;
      .photo {
        float: left;
        img {
          border-radius: 3px;
        }
      }
      .proposition {
        margin-left: 54px;
        background-color: white;
        padding: 10px;
        border-bottom: 1px solid #eee;
        font-size: 13px;
      }
    }
  }

  .section {
    margin: 10px;
    border: 1px solid #878787;
    border-radius: 3px;
    .section-name {
      border-bottom: 1px solid #878787;
      padding: 5px;
      font-size: 14px;
    }
    .candidacy {
      margin: 10px;
      overflow: auto;
      .photo {
        float: left;
        img {
          border-radius: 3px;
        }
      }
      .proposition {
        margin-left: 54px;
        background-color: white;
        padding: 10px;
        border-bottom: 1px solid #eee;
        font-size: 13px;
      }
    }
  }
}
#propositions.loading {
  .indicator {
    display: block;
  }
}

.page {
  overflow-y: auto;
  position: absolute;
  width: 400px;
  background-color: white;
  top: 0;
  bottom: 0;
}

.page::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}

.page::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
