{{name}}

candidates:
<form id="add-candidate">
  <input type="text" size="20" placeholder="new candidate">
</form>
{{#candidates}}
  {{name}}
{{/candidates}}

themes:
<form id="add-theme">
  <input type="text" size="20" placeholder="new theme">
</form>

{{#themes}}
  {{name}}
{{/themes}}