<div class="page-header"><h3>Candidacies you want to be selected by default</h2></div>

<table class="bordered-table">
{{#candidacies}}
<tr>
  <td><input type="checkbox" name="defaultCandidacyIds" value="{{id}}"></td>
  <td>{{name}}</td>
</tr>
{{/candidacies}}
</table>
