%h4
  = t('backoffice.profile', name: @profile.candidacy.name, election: @profile.candidacy.election.name)
= simple_form_for @profile, url: backoffice_my_profile_path, html: { class: 'form-horizontal' } do |f|
  = render "form", f: f
  .form-actions
    = f.submit t('backoffice.update'), class: "btn btn-success btn-large"
