.page-header
  %h2 Candidacy
  
%p 

%h3 Response
%table.bordered-table
  %tbody
    %tr
      %td id
      %td A unique identifier for this candidacy.
    %tr
      %td election
      %td The election that candidacy belongs to.
    %tr
      %td candidates
      %td A list of candidates.
    %tr
      %td organization
      %td The organization object.
    %tr
      %td published
      %td A boolean that show if this candidacy is published or not. Default: false.
