.page-header
  %h2 Candidate
  
%p 

%h3 Response
%table.bordered-table
  %tbody
    %tr
      %td id
      %td A unique identifier for this candidate.
    %tr
      %td firstName
      %td The first name of this candidate.
    %tr
      %td lastName
      %td The last name of this candidate.
    %tr
      %td elections
      %td
        %p
          %i Optional
          (only present in candidates/id response)
        %p A list of elections that this candidate has run for.