.page-header
  %h2 Country

%h3 Response
%table.bordered-table
  %tbody
    %tr
      %td id
      %td A unique identifier for this country.
    %tr
      %td name
      %td Name the this country.
    %tr
      %td namespace
      %td The string used in urls.
