.page-header
  %h2 Election

%p 

%h3 Response
%table.bordered-table
  %tbody
    %tr
      %td id
      %td A unique identifier for this election.
    %tr
      %td name
      %td The name of the election.
    %tr
      %td tags
      %td
        %i Optional
        (only present in elections/id response)
        %p A hierarchy of tags that are hand-picked for this election.
    %tr
      %td candidates
      %td
        %p A list of candidates that run for this election.