.page-header
  %h2 Proposition
  
%p 

%h3 Response
%table.bordered-table
  %tbody
    %tr
      %td id
      %td A unique identifier for this proposition.
    %tr
      %td candidate
      %td The candidate that supports this proposition.
    %tr
      %td text
      %td The actual proposition.
    %tr
      %td tags
      %td
        %p A list of tags that are associated with this proposition.