.page-header
  %h2 Proposition
  
%p 

%h3 Response
%table.bordered-table
  %tbody
    %tr
      %td id
      %td A unique identifier for this proposition.
    %tr
      %td candidacy
      %td The candidacy that supports this proposition.
    %tr
      %td text
      %td The actual proposition.
    %tr
      %td tags
      %td A list of tags that are associated with this proposition.
    %tr
      %td comments_count
      %td Just a counter to know how many comments are presents on it.