.page-header
  %h2 Tag
  
%p Tags are associated with propositions.

%h3 Response
%table.bordered-table
  %tbody
    %tr
      %td id
      %td A unique identifier for this tag.
    %tr
      %td name
      %td Name of this tag.      
    %tr
      %td icon
      %td
        %i Optional
        Pieces needed to construct tag icons at various sizes. Combine prefix with one of the sizes and a name.
    %tr
      %td tags
      %td
        %i Optional
        (only present in elections/id response).
        A list of tags that are descendants of this tag for this election.