.page-header
  %h2 User

%h3 Response
%table.bordered-table
  %tbody
    %tr
      %td id
      %td A unique identifier for this user.
    %tr
      %td name
      %td Name of this user.
    %tr
      %td email
      %td The email address of the user.
    %tr
      %td password
      %td The password of the user. This field is not stored in database, we just store an encrypted version of it.
