.page-header
  %h1 Protected

.page-header
  %h2
    %small GET
    \/countries/search

%p
  Search countries

%h3 Parameters
%table.bordered-table
  %tbody
    %tr
      %td name
      %td Fra

%p
  %span.label EXAMPLE

%pre
  http://voxe.org/api/v1/countries/search

.page-header
  %h2
    %small POST
    \/countries

%p Create a new country

%h3 Parameters
%table.bordered-table
  %tbody
    %tr
      %td name
      %td France

%p
  %span.label EXAMPLE

%pre
  http://voxe.org/api/v1/countries
