.page-header
  %h1 Protected

.page-header
  %h2
    %small POST
    \/organizations

%p Create an organization.

%h3 Parameters
%table.bordered-table
  %tbody
    %tr
      %td organization[name]
      %td Union pour les Developpeurs

%p
  %span.label EXAMPLE

%pre
  http://voxe.org/api/v1/organizations