.page-header
  %h1 Protected

.page-header
  %h2
    %small GET
    \/users/search

%p Search for users.

%h3 Parameters
%table.bordered-table
  %tbody
    %tr
      %td name
      %td Benjamin

%p
  %span.label EXAMPLE

%pre
  http://voxe.org/api/v1/users/search?name=benjamin

.page-header
  %h2
    %small POST
    \/users

%p Create an user.

%h3 Parameters
%table.bordered-table
  %tbody
    %tr
      %td user[name]
      %td John Doe
    %tr
      %td user[email]
      %td john@doe.org
    %tr
      %td user[password]
      %td something
    %tr
      %td user[password_confirmation]
      %td something

%p
  %span.label EXAMPLE

%pre
  http://voxe.org/api/v1/users

.page-header
  %h2
    %small POST
    \/users/signin

%p
  Sign in with an user. It will return an access token for the user.
  Just send it on every request as parameter
  %code auth_token
  \.

%h3 Parameters
%table.bordered-table
  %tbody
    %tr
      %td email
      %td john@doe.org
    %tr
      %td password
      %td something

%p
  %span.label EXAMPLE

%pre
  http://voxe.org/api/v1/users/signin

