.page-header
  %h1 Admin

.page-header
  %h2
    %small GET
    \/users/search

%p Search for users.

%h3 Parameters
%table.bordered-table
  %tbody
    %tr
      %td name
      %td Benjamin

%p
  %span.label EXAMPLE

%pre
  http://voxe.org/api/v1/users/search

%p
  %a.btn.small Try
