.embed
	.row
		.col-md-6= f.input :title, label: t('backoffice.link_hypertext')
		.col-md-6= f.input :url, label: '* ' + t('backoffice.link_hypertext')
		.col-md-12.col-md-offset-2.col-sm-offset-2= link_to_remove_fields t('backoffice.remove_link'), f, class: "btn cst-btn btn-warning"
	.row
	%hr
