%h3= @candidacy.election.name + " - " + t('backoffice.add_new_proposition')
%hr

= simple_form_for @proposition, url: new_admin_election_candidacy_propositions_path(@election, @candidacy), html: { class: 'form-horizontal' } do |f|
  - if params[:election_tag_id]
    = render "form", f: f, election_tag: true
  - else
    = render "form", f: f, election_tag: false
