= simple_form_for @candidacy_candidate_profile, url: new_admin_candidacy_candidate_profile_path(@candidacy_candidate_profile), html: { class: 'form-horizontal' } do |f|
  = f.input :candidacy_id, collection: Candidacy.all.map {|c| [c.election.name + ' - ' + c.name, c.id]}
  = f.submit "Update", class: 'btn'
