#proposition-view
  .help 
    %span= @proposition.tags.first.name
  .proposition-container
    .candidacy
      .candidate-photo= image_tag @proposition.candidacy.candidates.first.photo_url(:small), size: "50x50"
      .candidate-name= @proposition.candidacy.candidates.first.name
    .proposition-text= @proposition.text

    / %li.tags= @proposition.tags.map { |t| t.name }.join(',')