#proposition-view
  %ul.proposition-container
    %li.proposition-text= @proposition.text
    %li.candidacy
      .candidate-photo= image_tag @proposition.candidacy.candidates.first.photo_url(:small), size: "50x50"
      .candidate-name= @proposition.candidacy.candidates.first.name
    %li.tags= @proposition.tags.map { |t| t.name }.join(',')