// Place all the styles related to the ux controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#v1 {
  body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 45px;
  }
  #topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    background-image: -webkit-linear-gradient(top, #333333, #222222);
    height: 40px;
    #topbar-inner {
      padding: 10px;
      text-align: center;
      color: white;
    }
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  }
  table, tbody, tr, td, blockquote {
    margin: 0;
    padding: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  blockquote {
    margin-bottom: 0;
  }
  h2 {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  #candidates, #themes, #compare-propositions {
    overflow-y: scroll;
  }
  
  #candidates {
    position: fixed;
    top: 50px;
    left: 0;
    width: 230px;
    bottom: 10px;
    .icon img {
      border-radius: 3px;
      float: left;
    }
    .name, .info {
      margin-left: 53px;
    }
    .info {
      color: #BFBFBF;
      font-size: 12px;
      font-weight: 300;
      margin-top: 5px;
    }
  }
  
  #candidates, #themes {
    .inner {
      border: 1px solid #DDD;
      border-radius: 4px;
      margin: 0 10px;
      li {
        clear: both;
        overflow: auto;
        padding: 10px;
        border-bottom: 1px solid #DDD;
        a {
          color: #0069D6;
          text-decoration: none;
          font-size: 14px;
        }
      }
      li:hover {
        background-color: #FEFBF3;
        cursor: pointer;
      }
    }
  }
  
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    width: 8px;
    background-color: #fff;
  }

  .scrollbar::-webkit-scrollbar-track-piece {
    background-color: #fff;
    margin-right: 5px;
    border-radius: 6px;
    width: 8px;
  }

  .scrollbar::-webkit-scrollbar-thumb:vertical {
    background-color: #8c8c8c;
    width: 6px;
    border-radius: 6px;
  }
  
  #compare {
  }
  
  #themes {
    position: fixed;
    top: 50px;
    right: 10px;
    width: 200px;
    bottom: 10px;
    .section {
      color: #BFBFBF;
      font-size: 14px;
      font-weight: 300;
      margin-top: 5px;
    }
  }
  
  #compare-propositions {
    position: fixed;
    top: 172px;
    left: 240px;
    right: 210px;
    bottom: 10px;
    padding: 0 20px;
  }
  
  #compare-header {
    position: fixed;
    top: 50px;
    left: 240px;
    right: 210px;
    bottom: 10px;
    padding: 0 28px 0 20px;
    height: 120px;
    //border: 1px solid black;
    .inner {
      
    }
    .theme {
      text-align: center;
      background-color: whiteSmoke;
      border-radius: 4px 4px 0 0;
      padding: 10px;
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
      color: #404040;
    }
    .candidates {
      padding: 10px;
      overflow: auto;
      border: 1px solid whiteSmoke;
    }
    .candidates li {
      float: left;
      width: 33%;
      .image {
        float: left;
        img {
          border-radius: 3px;
        }
      }
      .name {
        margin-left: 45px;
      }
    }
  }
  
  .section {
    clear: both;
    margin-top: 10px;
    .theme {
      text-align: center;
      background-color: #eee;
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 36px;
      color: #404040;
      border-radius: 3px;
    }
    .propositions {
      float: left;
      width: 33%;
      font-size: 14px;
      line-height: 18px;
      font-weight: 300;
      .propositions-list {
        border: 1px solid #DDD;
        border-radius: 4px;
        margin: 5px;
      }
      li {
        padding: 5px 10px;
      }
      li:hover {
        background-color: #eee;
        cursor: pointer;
      }
    }
  }

}