html, body {
  background-color: #eee;
}
body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

form .image-form {
  float: left;
  margin: 0px 6px;
}

.finder {
  table {
    border: none;

    &.list {
      margin-bottom: 0;
    }
  }

  th:last-of-type {
    width: 50%;
  }

  td.candidacies, td.tags-list {
    padding: 0;

    .actions {
      float: right;
      width: auto;
    }
  }

  .candidacies {
    width: 14%;
  }

  .selected {
    background-color: #eee;
  }

  .published {
    border-right: solid 5px green;
  }

  .not-published {
    border-left: solid 5px red;
  }

  .add {
    border-top: solid 1px #CCC;
    text-align: center;
    padding: 10px;
  }
}
