{{#election}}
  <div class="page-header">
    <h1>
      {{name}}
      <small><button class="btn info change-election">Change</button></small>
    </h1>
  </div>

  <div class="row election">
    <ul class="span4 menu"></ul>
    <div class="span10 election-content"></div>
  </div>
{{/election}}
