{{#election}}
  <div class="page-header">
    <h1>
      {{name}}
      <small><button class="btn info change-election">Change</button></small>
    </h1>
  </div>

  <div class="row election">
    <ul class="menu"></ul>
    <div class="election-content">
    </div>
  </div>
{{/election}}
