%meta{property: "og:title", content: "#{title}"}
%meta{property: "og:type", content: "website"}
%meta{property: "og:url", content: "#{request.url}"}
%meta{property: "og:image", content: "#{asset_path('icons/128.png')}"}
%meta{property: "og:site_name", content: "Voxe"}
%meta{property: "fb:app_id", content: "#{Settings.facebook.app_id}"}
%meta{property: "og:description", content: "Comparer les programmes des candidats"}