%script#menu-election-template{type: "text/html"}
  {{election.name}}
  
%script#menu-candidacies-template{type: "text/html"}
  :plain
    {{#candidacy1}}
      {{#candidates}}
        <img src="{{photo.sizes.small.url}}" width="50px" height="50px" valign="middle" />
      {{/candidates}}
    {{/candidacy1}}
    vs
    {{#candidacy2}}
      {{#candidates}}
        <img src="{{photo.sizes.small.url}}" width="50px" height="50px" valign="middle" />
      {{/candidates}}
    {{/candidacy2}}
  
%script#menu-tags-template{type: "text/html"}
  :plain
    {{#tag}}
      <li class="theme">
        <img src="{{icon.prefix}}32{{icon.name}}" width="32px" height="32px" valign="midle" />
        {{name}}
      </li>
      {{#tags}}
        <li class="section" data-tag-id="{{id}}">{{name}}</li>
      {{/tags}}
    {{/tag}}

%script#election-cell-template{type: "text/html"}
  :plain
    <div election-id="{{election.id}}" class="election">
      <div class="name">{{election.name}}</div>
      <div class="facepile">
        {{#election.candidacies}}
          {{#candidates}}
            <img src="{{photo.sizes.small.url}}" width="30px" height="30px" />
          {{/candidates}}
        {{/election.candidacies}}
      </div>
    </div>
      
%script#candidacy-cell-template{type: "text/html"}
  :plain
    {{#candidacy.candidates}}
      <div class="image"><img src="{{photo.sizes.small.url}}" width="50px" height="50px" /></div>
      <div class="name">{{firstName}} {{lastName}}</div>
    {{/candidacy.candidates}}
    
%script#tags-list-template{type: "text/html"}
  :plain
    {{#tags}}
      <li tag-id="{{id}}">
        <div class="icon"><img src="{{icon.prefix}}32{{icon.name}}" width="32px" height="32px" /></div>
        <div class="name">{{name}}</div>
      </li>
    {{/tags}}
  
%script#comparison-template{type: "text/html"}
  :plain
    {{#tag}}
      <div class="tag-image">
        <img src="{{icon.prefix}}64{{icon.name}}" width="64px" height="64px" />
      </div>
      <div class="tag">
        <span>{{name}}</span>
      </div>
      
      <div class="indicator"><div class="tag-image">#{image_tag('web/ajax-loader.gif')}</div></div>
    {{/tag}}
    
%script#comparison-tag-template{type: "text/html"}
  :plain
    {{#tag}}
      <div class="tag" id="tag-{{id}}">
        <span>{{name}}</span>
      </div>
    {{/tag}}
    
%script#comparison-candidacy-template{type: "text/html"}
  :plain
    {{#candidacy}}
      {{#candidates}}
        <img src="{{photo.sizes.medium.url}}" width="60px" height="60px" />
      {{/candidates}}
    {{/candidacy}}
    
%script#comparison-proposition-template{type: "text/html"}
  :plain
    {{#proposition}}
      <div class="text">{{text}}</div>
      
      <div class="actions">
        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2F#{Settings.host}%2Fpropositions%2F{{id}}&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=#{Settings.facebook.app_id}" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:21px;" allowTransparency="true"></iframe>
      </div>
    {{/proposition}}
    
%script#users-new-template{type: "text/html"}
  :plain
    <form>
      <label for='name'>Name</label>
      <input type='text' name='name' />
      
      <label for='name'>Email</label>
      <input type='text' name='email' />
      
      <label for='name'>Password</label>
      <input type='password' name='password' />
      
      <a>OK</a>
    </form>
    
%script#users-signin-template{type: "text/html"}
  :plain
    <form>
      <label for='name'>Email</label>
      <input type='text' name='email' />

      <label for='name'>Password</label>
      <input type='password' name='password' />

      <a>OK</a>
    </form>