#high-line

#menu-container
  %ul#menu

#pages-container
  #pages
    .page#countries(ui-view="countries")
    .page#elections(ui-view="elections")

    .page#candidacies
      .page-container
        #candidacies-list-container
          .help
            %span 3. #{t 'comparator.choose_two_candidates'}
          #candidacies-list

    .page#tags
      .page-container
        .help
          %span 4. #{t 'comparator.choose_a_theme'}
        %ul#tags-list

    .page#comparison-page
      #comparison-container
        #comparison
