:javascript
  $(function() {
    new VoxeWeb(#{@options});
  });
  
= render '/web/application/templates.mustache'
    
#high-line

#menu-container
  #menu
    
#pages-container
  #pages
    .page#elections
      .page-container
        #elections-list
                    
    .page#candidacies
      .page-container
        #candidacies-list-container
          #candidacies-list

    .page#tags
      .page-container
        %ul#tags-list
          / .section
          /   %span Themes
                  
    .page#propositions
      #propositions-container
        #propositions-header
        #propositions-list