:javascript
  $(function() {
    new VoxeWeb(#{@options});
  });
  
= render '/web/application/templates.mustache'
    
#high-line

#menu-container
  #menu
    
#pages-container
  #pages
    .page#elections
      .page-container
        #elections-list
          .help
            %span 1. Sélectionner une élection...
                    
    .page#candidacies
      .page-container
        #candidacies-list-container
          .help
            %span 2. ... puis deux candidats, et...
          #candidacies-list
            
    .page#tags
      .page-container
        .help
          %span 3. ... choisissez un thème
        %ul#tags-list
          / .section
          /   %span Themes
                  
    .page#comparison-page
      #comparison-container
        #comparison