:javascript
  $(function() {
    new VoxeWeb(#{@options});
  });
  
= render '/web/application/templates.mustache'
    
#high-line

#menu-container
  #menu
    
#pages-container
  #pages
    .page#elections
      .page-container
        #support
          .name
            Soutenir Voxe.org
          .info
            .video
              <iframe width="260" height="162" src="http://www.youtube.com/embed/K7NPrdCRgv4?wmode=transparent" frameborder="0" allowfullscreen></iframe>
              
            .text
              %p Le projet Voxe.org est entièrement neutre et bénévole.
              %p Nous avons besoin de votre soutien pour permettre à tous les citoyens du monde de voter de manière éclairée.
              %p
                —
                = link_to "L'équipe Voxe.org", team_path
              .support-button-container
                %a.support-button{href: "http://www.kisskissbankbank.com/projects/voxe-org-le-comparateur-neutre-des-programmes-politiques", target: "_blank"} Soutenir
              
          
        #elections-list-container
          .help
            %span 1. Sélectionnez une élection...
          #elections-list
                    
    .page#candidacies
      .page-container
        #candidacies-list-container
          .help
            %span 2. ... puis deux candidats, et...
          #candidacies-list
            
    .page#tags
      .page-container
        .help
          %span 3. ... choisissez un thème
        %ul#tags-list
          / .section
          /   %span Themes
                  
    .page#comparison-page
      #comparison-container
        #comparison
