#welcome-page
  .header
    .header-background
  .content
    = image_tag 'welcome/gvote.png', style: "margin-top: 30px"
    .explanation
      = link_to "&nbsp;".html_safe, root_path(src: 'welcome-page'), class: 'cta'
      = link_to "Découvrez le projet", "http://vote.voxe.org", class: 'discover-project'

%footer.welcome-footer
  .footer-container
    %span{style: "margin-right: 30px; font-family: 'bebasregular'; font-size: 16px;"} STAY CONNECTED
    %span{style: "margin-top: 4px; margin-right: 30px; font-family: 'Helvetica'; font-size: 16px;"} Keep up to date with all out latest news and infos.
    %form{action: "//voxe.us6.list-manage.com/subscribe/post?u=127353f7d4445d67a11255028&amp;id=f22b64c0f3", target: "_blank", method: "post"}
      %input{type: "email", name: "EMAIL", placeholder: "Email address"}
      %input{type: "submit", value: "OK"}

:css
  #donate-section, #appstores {
    bottom: 70px;
  }
  body {
    background-color: white;
  }
