!!! HTML
%html
  %head
    %title Joinplato
    = stylesheet_link_tag "http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css", "application"
    = javascript_include_tag "application", "templates"
    = csrf_meta_tags
  %body
    = yield