!!! HTML
%html
  %head
    %title Voxe Back Office
    = csrf_meta_tags
  %body
    .container
      .content
        - if notice
          .alert-message.success
            %p= notice
        - elsif alert
          .alert-message.error
            %p= alert
        = yield
